{% extends "base.html" %}

{% block content %}
<div class="requestCard">
    <h1>Reset Your Password</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="textBox") }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(class="textBox") }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class="signup btnMD") }}</p>
    </form>
</div>
    
{% endblock %}